header{
     background-color: black;
     min-height: 100vh;
     transition-duration: 0.3s;
     transition-property: width;
     &:hover{
        width: 280px;
        display: block;
        
        .chevron{
            display: none;
        }
        nav{
            display: block;
        }
     }
 nav {
    display: none;
    .menu-list {
           ul{
        li{  
            cursor: pointer;
            color: #ffffff;
            font-size: 14px;
            padding: 15px 25px;
            .tile{
                text-transform: uppercase;
            }
            #dropdown{
                div{
                    p{
                        color: black;
                    }
                }
            }
            
        }
    }
    }
 
  div.wrapper-logo{
display: flex;
justify-content: center;
     .logo{
        display: block;
        height: 100px;
        padding: 10px;
        border-radius: 20px;
    }
  }
   
}   
}
